<ul class="todo-list">
  <li>
    <div class="view">
      <ul>
        <% @todos.each do |todo| %>
          <label>
            <%= todo.title %>
          </label>
            
        <% end %>
      </ul>
    </div>
  </li>
</ul>
