<ul class="todo-list">
  <li>
    <div class="view">
    <% @todos.each do |todo| %>
				<input class="toggle" type="checkbox">
				<label><%= todo.title %></label>
				<button class="destroy"></button>
    </div>
    <% end %>
  </li>
</ul>
