<ul class="todo-list">


  <li>
    <div class="view">
      <% @todos.order('created_at ASC').each do |todo| %>
      <label><%= todo.title %></label>
      <% end %>
      
    </div>
  </li>
</ul>


