<ul class="todo-list">
  <% @todos.each do |todo| %>
  <li>
    <div class="view">
    
				<input class="toggle" type="checkbox">
				<label><%= todo.title %></label>
				<button class="destroy"></button>
    </div>
    
  </li>
  <% end %>
</ul>
