<header class="header">
  <h1>todos</h1>
  <%= form_with(model: Todo.new, local: true) do |form| %>
 

    <div class="field">
      <%= form.text_field :title, class: 'new-todo', placeholder: 'What needs to be done?', autofocus: true %>
    </div>

  <% end %>
</header>
